@use "variables";

#nav-menu {
    background-color: variables.$primary-color;
  }

.menu-nav li a:hover {
    color: variables.$lighter-color;
  }

.menu-toggle {
    background-color: variables.$lighter-color;

    .bars {
        background-color: variables.$lighter-color;
    }
}