@include media-query('tablet') {

}

@include media-query('extra') {
    h4 {
        font-size: $font-size-title-small;
    }

    .recept {
        width: 90%;
    }

    .images {
        gap: 0.5em;
     img {
        width: 100%;
    }
}

.recept {
    p {
    font-size: $font-size-recept-small;
}

ul {
    font-size: $font-size-recept-small;
}

ol {
    font-size: $font-size-recept-small;
}
}
}

@include media-query('mobile') {
}