@use "variables";
@use "mixins";

@include mixins.media-query('tablet') {
.recept {
    width: 80%;
}

.images {
    gap: 0.5em;
 img {
    width: 100%;
}
}
}

@include mixins.media-query('extra') {
    h4 {
        font-size: variables.$font-size-title-small;
    }

    .images {
        gap: 0.5em;
     img {
        width: 100%;
    }
}


.recept {
    width: 90%;
    p {
    font-size: variables.$font-size-recept-small;
}

ul {
    font-size: variables.$font-size-recept-small;
}

ol {
    font-size: variables.$font-size-recept-small;
}
}
}

@include mixins.media-query('mobile') {

    h2 {
        font-size: variables.$font-size-title-small;
    }

    h3 {
        font-size: variables.$font-size-title-mobile;
    }

    h4 {
        font-size: variables.$font-size-title-mobile;
        margin-top: 2em;
    }

    .images {
        margin-top: 1em;
    }

    .recept {
        width: 100%; 
        p {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    ul {
        margin-left: 0.5em;
    }

    ol {
        margin-left: 0.5em;
    }
}

    picture .button {
padding: 0.5em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: variables.$dark-mode;
    }

    h1, h2, h3, h4 {
        color: variables.$button-text-color;
    }

    .recept {
        background-color: variables.$dark-mode-recept;
        ul {
            color: variables.$button-text-color;
        }
        p {
            color: variables.$button-text-color;
        }
        ol {
            color: variables.$button-text-color;
        }
        h4 {
            color: variables.$button-text-color;
        }
        h5 {
            color: variables.$button-text-color;
        }
    }
    #nav-menu {
        background-color: variables.$dark-mode;

        li a {
            color: variables.$button-text-color;
        }
      }
}