$font-stack: "Karla", serif;
$primary-color: #E4B1F0;
$lighter-color: lighten($primary-color, 10%);
$font-size-title: 3em;
$font-size-title-small: 2.4em;
$font-size-text: 1.7em;
$font-size-recept: 1.2em;
$font-size-button: 1.1em;
$font-title: "Great Vibes", "Brush Script MT", "Pacifico", "Dancing Script";