$font-stack: Helvetica, sans-serif;
$primary-color: #E4B1F0;
$lighter-color: lighten($primary-color, 20%);

body {
    background-color: $primary-color;
    font: 100% $font-stack;
}

.menu-toggle {
    background-color: $primary-color;

    .bars {
        background-color: $primary-color;
    }
}

#nav-menu {
    background-color: $lighter-color;
}